<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>

<% if @ijk == message.user.id %>
    <% if message.created_at < Time.now %>
    <div class="message mb-2 me">
        <div class="content-container">
            <div class="content">
                <%= message.content %>
            </div>
            <div class="author">
               <div class="activity-status onlin user-<%= message.user_id %>-status"><%#= message.user_id %><i class="fa fa-circle"></i></div>
               <%= message.user.username %>
            </div>
        </div>
    </div>
    <% elsif message.created_at >= Time.now  %>
    mmm
    <% end %>
      
    <% else %>
    <div class="message mb-2">
        <div class="content-container">
            <div class="content">
                <%= message.content %>
            </div>
            <div class="author">
                <div class="activity-status user-<%= message.user_id %>-status"><i class="fa fa-circle"></i></div>
                <%= message.user.username %>
            </div>
        </div>
    </div>
<% end %>
