<p class="notice"><%= notice %></p>
<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="text-center"><b>Add a new room</b></h4>

  <div class="form-group mb-3">
    <% form.label "Add a new room" %>
    <%= form.text_field :name, class: "form-control", required: true, placeholder: "Room name" %>
  </div>
  <div class="d-grid gap-2">
    <%= form.submit "Add Room", class:"btn btn-outline-primary btn-block" %>
  </div>
<% end %>
