<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h4>New Room</h4>
      <%= render 'form', room: Room.new %>
      <hr>
      <h3 class="text-center mt-1 mb-3">All Rooms</h3>
      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card yu mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <%= render 'show' %>
      <% else %>
        <%= render 'ind' %>
      <% end %>
    </div>
  </div>
</div>
