  <div id="room-id" data-room-id="<%= @room.id %>"></div>
  <div id="user-id" data-user-id="<%= current_user.id %>"></div>
  
  <div class="chat-room">
    <nav class="navbar navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand" href="#">
        <b><%= @room.name %> </b>
      </span>
      <small><%= @room.users.uniq.count %> Members</small>
    </div>
    </nav>
    <div id="messages">
      <% @room.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>   
    </div>
  </div>
  <div class="chat-box mb-2">
    <%= render 'messages/form', message: Message.new, room: @room %>
  </div>